.overlay {
  display: flex;
  justify-content: center;
  height: 100dvh;
  background-color: var(--background);
}
.page {
  margin: 1rem;
  width: 80dvw;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
}
.qPage {
  width: 60dvw;
}
.search-btn {
  border: none;
}
.qPage-mob {
  width: 80dvw;
}
.search-mob {
  width: 60dvw;
}
#mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
